In [1]:
import numpy as np
import pandas as pd

In [2]:
# Historia de merger de las galaxias mayores a 10**10 del snap 28 de la simulación RefL0100N1504
merger = pd.read_csv('/home/ramiro/Facultad/Tesis/Datos/Actividad 7/Actividad_8(merger_history_solo_star_mass)_(msatar>10e8).dat')

In [12]:
# Tamaño de visualización de los DataFrame

pd.options.display.max_rows = 28
pd.options.display.max_columns = 100

In [16]:
cota_superior_merger = 1.25 # Level of merger máximo que queremos para la historia de cada galaxia
cota_inferior_merger = 1 # Level of merger mínimo que queremos para la historia de cada galaxia
cota_snap=12 # Desde que snap queremos ver

In [17]:
data = {'GalaxyID_test':[],'GroupID_test':[],
        'Lm_snap1':[],'Lm_snap2':[],'Lm_snap3':[],'Lm_snap4':[],
        'Lm_snap5':[],'Lm_snap6':[],'Lm_snap7':[],'Lm_snap8':[],
        'Lm_snap9':[],'Lm_snap10':[],'Lm_snap11':[],'Lm_snap12':[],
        'Lm_snap13':[],'Lm_snap14':[],'Lm_snap15':[],'Lm_snap16':[],
        'Lm_snap17':[],'Lm_snap18':[],'Lm_snap19':[],'Lm_snap20':[],
        'Lm_snap21':[],'Lm_snap22':[],'Lm_snap23':[],'Lm_snap24':[],
        'Lm_snap25':[],'Lm_snap26':[],'Lm_snap27':[],'Lm_snap28':[]}

DATA_merge   = pd.DataFrame(data=data)
DATA_merge_2 = pd.DataFrame(data=data)

for i in np.arange(len(merger)):
    
    j=cota_snap
    
    for k in np.arange(cota_snap,30):
        if j==29:
            DATA_merge_2 = DATA_merge_2.append(merger.iloc[i])
        elif merger['Lm_snap'+str(j)].iloc[i]<=cota_superior_merger:
            j=j+1           
        elif merger['Lm_snap'+str(j)].isna().iloc[i]:
            j=j+1
        
        else:break

            
DATA_merge_2 = DATA_merge_2.astype({'GalaxyID_test':int,'GroupID_test':int,
                                'Lm_snap1':float, 'Lm_snap2':float, 'Lm_snap3':float, 'Lm_snap4':float,
                                'Lm_snap5':float, 'Lm_snap6':float, 'Lm_snap7':float, 'Lm_snap8':float,
                                'Lm_snap9':float, 'Lm_snap10':float,'Lm_snap11':float,'Lm_snap12':float,
                                'Lm_snap13':float,'Lm_snap14':float,'Lm_snap15':float,'Lm_snap16':float,
                                'Lm_snap17':float,'Lm_snap18':float,'Lm_snap19':float,'Lm_snap20':float,
                                'Lm_snap21':float,'Lm_snap22':float,'Lm_snap23':float,'Lm_snap24':float,
                                'Lm_snap25':float,'Lm_snap26':float,'Lm_snap27':float,'Lm_snap28':float})
            
            
            
for i in np.arange(len(DATA_merge_2)):
    
    j=cota_snap
    
    for k in np.arange(cota_snap,30):
        if j==29:
            break
        
        elif DATA_merge_2['Lm_snap'+str(j)].iloc[i]>=cota_inferior_merger:
            DATA_merge = DATA_merge.append(DATA_merge_2.iloc[i])
            break
        
        elif DATA_merge_2['Lm_snap'+str(j)].isna().iloc[i]:
            j=j+1
            
        else:j=j+1

DATA_merge = DATA_merge.astype({'GalaxyID_test':int,'GroupID_test':int,
                                'Lm_snap1':float, 'Lm_snap2':float, 'Lm_snap3':float, 'Lm_snap4':float,
                                'Lm_snap5':float, 'Lm_snap6':float, 'Lm_snap7':float, 'Lm_snap8':float,
                                'Lm_snap9':float, 'Lm_snap10':float,'Lm_snap11':float,'Lm_snap12':float,
                                'Lm_snap13':float,'Lm_snap14':float,'Lm_snap15':float,'Lm_snap16':float,
                                'Lm_snap17':float,'Lm_snap18':float,'Lm_snap19':float,'Lm_snap20':float,
                                'Lm_snap21':float,'Lm_snap22':float,'Lm_snap23':float,'Lm_snap24':float,
                                'Lm_snap25':float,'Lm_snap26':float,'Lm_snap27':float,'Lm_snap28':float})

In [18]:
DATA_merge

,GalaxyID_test,GroupID_test,Lm_snap1,Lm_snap2,Lm_snap3,Lm_snap4,Lm_snap5,Lm_snap6,Lm_snap7,Lm_snap8,Lm_snap9,Lm_snap10,Lm_snap11,Lm_snap12,Lm_snap13,Lm_snap14,Lm_snap15,Lm_snap16,Lm_snap17,Lm_snap18,Lm_snap19,Lm_snap20,Lm_snap21,Lm_snap22,Lm_snap23,Lm_snap24,Lm_snap25,Lm_snap26,Lm_snap27,Lm_snap28
1,9508202,28000000000002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,1.0,1.0,1.0000,1.0,1.0,1.110041,1.0,1.0,1.230523,1.0,1.000000,1.0,1.0,1.0,1.0,1.0,1.0,1.000000
3,9517736,28000000000002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0000,1.0,1.0,1.000000,1.0,1.0,1.000000,1.0,1.000000,1.0,1.0,1.0,1.0,1.0,1.0,1.149444
4,9519365,28000000000002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,1.0,1.0000,1.0,1.0,1.000000,1.0,1.0,1.000000,1.0,1.000000,1.0,1.0,1.0,1.0,1.0,1.0,1.000000
5,9521792,28000000000002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,1.0,1.1149,1.0,1.0,1.220817,1.0,1.0,1.000000,1.0,1.000000,1.0,1.0,1.0,1.0,1.0,1.0,1.000000
7,2727611,28000000000002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0000,1.0,1.0,1.000000,1.0,1.0,1.000000,1.0,1.045056,1.0,1.0,1.0,1.0,1.0,1.0,1.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3632,10297940,28000000002130,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,1.0,1.0,1.000000,1.0,1.000000,1.0,1.0,1.0,1.0,1.0,1.0,1.000000
3633,10365607,28000000002202,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0000,1.0,1.0,1.000000,1.0,1.0,1.000000,1.0,1.000000,1.0,1.0,1.0,1.0,1.0,1.0,1.000000
3634,10859653,28000000002570,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,1.000000,1.0,1.000000,1.0,1.0,1.0,1.0,1.0,1.0,1.000000
3635,11104654,28000000002905,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,1.000000,1.0,1.0,1.000000,1.0,1.000000,1.0,1.0,1.0,1.0,1.0,1.0,1.000000
3636,11247394,28000000003127,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.000000,1.0,1.0,1.000000,1.0,1.000000,1.0,1.0,1.0,1.0,1.0,1.0,1.000000

In [10]:
np.arange(len(DATA_merge_2))

array([   0,    1,    2, ..., 3437, 3438, 3439])

In [21]:
# DATA_merge.to_csv(path_or_buf= 'Max_snap(Lm>'+str(cota_inferior_merger)+').dat',index=False)   # Nos guardamos los datos

In [36]:
# Fin