In [1]:
import numpy as np
import pandas as pd

In [2]:
# Historia de merger de las galaxias mayores a 10**10 del snap 28 de la simulación RefL0100N1504
merger = pd.read_csv('/home/ramiro/Facultad/Tesis/Datos/Actividad 7/Actividad_8(merger_history_solo_satar_mass).dat')

In [3]:
# Tamaño de visualización de los DataFrame

pd.options.display.max_rows = 1000
pd.options.display.max_columns = 100

In [33]:
cota_superior_merger=1.001 # Level of merger mínimo que queremos para la historia de cada galaxia

In [34]:
data = {'GalaxyID_test':[],'GroupID_test':[],
        'Lm_snap1':[],'Lm_snap2':[],'Lm_snap3':[],'Lm_snap4':[],
        'Lm_snap5':[],'Lm_snap6':[],'Lm_snap7':[],'Lm_snap8':[],
        'Lm_snap9':[],'Lm_snap10':[],'Lm_snap11':[],'Lm_snap12':[],
        'Lm_snap13':[],'Lm_snap14':[],'Lm_snap15':[],'Lm_snap16':[],
        'Lm_snap17':[],'Lm_snap18':[],'Lm_snap19':[],'Lm_snap20':[],
        'Lm_snap21':[],'Lm_snap22':[],'Lm_snap23':[],'Lm_snap24':[],
        'Lm_snap25':[],'Lm_snap26':[],'Lm_snap27':[],'Lm_snap28':[]}

DATA_merge = pd.DataFrame(data=data)

for i in np.arange(len(merger)):
    
    j=15
    
    for k in np.arange(15,30):
        if j==29:
            DATA_merge = DATA_merge.append(merger.iloc[i])
        elif merger['Lm_snap'+str(j)].iloc[i]<=cota_superior_merger:
            j=j+1
        elif merger['Lm_snap'+str(j)].isna().iloc[i]:
            j=j+1
        
        else:break
            
        

DATA_merge = DATA_merge.astype({'GalaxyID_test':int,'GroupID_test':int,
                                'Lm_snap1':float, 'Lm_snap2':float, 'Lm_snap3':float, 'Lm_snap4':float,
                                'Lm_snap5':float, 'Lm_snap6':float, 'Lm_snap7':float, 'Lm_snap8':float,
                                'Lm_snap9':float, 'Lm_snap10':float,'Lm_snap11':float,'Lm_snap12':float,
                                'Lm_snap13':float,'Lm_snap14':float,'Lm_snap15':float,'Lm_snap16':float,
                                'Lm_snap17':float,'Lm_snap18':float,'Lm_snap19':float,'Lm_snap20':float,
                                'Lm_snap21':float,'Lm_snap22':float,'Lm_snap23':float,'Lm_snap24':float,
                                'Lm_snap25':float,'Lm_snap26':float,'Lm_snap27':float,'Lm_snap28':float})

In [35]:
merger

,GalaxyID_test,GroupID_test,Lm_snap1,Lm_snap2,Lm_snap3,Lm_snap4,Lm_snap5,Lm_snap6,Lm_snap7,Lm_snap8,Lm_snap9,Lm_snap10,Lm_snap11,Lm_snap12,Lm_snap13,Lm_snap14,Lm_snap15,Lm_snap16,Lm_snap17,Lm_snap18,Lm_snap19,Lm_snap20,Lm_snap21,Lm_snap22,Lm_snap23,Lm_snap24,Lm_snap25,Lm_snap26,Lm_snap27,Lm_snap28
0,9498012,28000000000002,NaN,1.0,1.0,1.0,1.326579,1.324162,1.035217,1.056251,1.028804,1.005793,1.005507,1.034417,1.064962,1.337511,1.003494,1.009208,1.002011,1.004553,1.238362,1.001277,1.001411,1.343438,1.000062,1.000963,1.000000,1.000000,1.000000,1.000006
1,9508202,28000000000002,1.0,1.0,1.0,1.0,1.014848,1.000000,1.000000,1.122971,1.021050,1.113887,1.011765,1.004638,1.004930,1.003518,1.001981,1.111446,1.015683,1.002252,1.234754,1.000217,1.000102,1.000091,1.000106,1.000407,1.000046,1.000020,1.000043,1.000027
2,9512113,28000000000002,NaN,1.0,1.0,1.0,1.635216,1.388297,1.056919,1.041179,1.052835,1.045753,1.022332,1.519606,1.001439,1.004004,1.001096,1.011577,1.002066,1.001148,1.001418,1.020033,1.003170,1.002646,1.000731,1.567471,1.000176,1.000097,1.000289,1.000071
3,9517736,28000000000002,NaN,NaN,NaN,NaN,1.000000,2.409535,1.597078,1.000000,1.178546,1.000000,1.500062,1.287915,1.208002,1.005028,1.000000,1.001125,1.001609,1.000590,1.003278,1.000000,1.000579,1.000342,1.000000,1.000000,1.000000,1.000000,1.000000,1.152090
4,9519365,28000000000002,NaN,1.0,1.0,1.0,2.036554,1.184030,1.105157,1.100664,1.000000,1.000000,1.041845,1.043104,1.039098,1.006911,1.000836,1.016977,1.000203,1.000806,1.002485,1.002425,1.001401,1.000877,1.000798,1.000996,1.000504,1.006195,1.000000,1.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3633,10365607,28000000002202,NaN,NaN,NaN,1.0,3.357420,1.000000,1.000000,2.532558,1.000000,1.311864,1.417995,1.039582,1.020005,1.023842,1.005618,1.002236,1.003803,1.000000,1.071442,1.000154,1.000000,1.001024,1.000000,1.000000,1.000000,1.000859,1.000520,1.000437
3634,10859653,28000000002570,NaN,NaN,NaN,1.0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.056767,1.043361,1.190391,1.031348,1.005875,1.000000,1.000000,1.034101,1.000434,1.000832,1.001490,1.002197,1.002288,1.000213,1.001746,1.001038,1.002874,1.000171
3635,11104654,28000000002905,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,2.212125,1.000000,1.091417,1.000000,1.348556,1.078366,1.001639,1.005175,1.000000,1.000000,1.001553,1.000000,1.000000,1.000569,1.000574,1.002320,1.000888,1.000103,1.000000,1.000000
3636,11247394,28000000003127,NaN,NaN,NaN,NaN,NaN,1.000000,1.575846,1.075089,1.000000,1.186519,1.024674,1.016153,1.029270,1.054278,1.003439,1.001228,1.012810,1.005037,1.002281,1.000882,1.004009,1.002128,1.004457,1.000835,1.000000,1.003815,1.000514,1.000630
3637,12002343,28000000004258,NaN,1.0,1.0,1.0,1.000000,1.000000,1.000000,1.148733,1.000000,1.000000,1.000000,1.104360,1.292007,1.017968,1.003056,1.000000,1.005336,1.001977,1.000292,1.000000,1.000000,1.000000,1.000000,1.263718,1.000000,1.000104,1.000000,1.000000

In [36]:
len(DATA_merge)

19

In [37]:
DATA_merge

,GalaxyID_test,GroupID_test,Lm_snap1,Lm_snap2,Lm_snap3,Lm_snap4,Lm_snap5,Lm_snap6,Lm_snap7,Lm_snap8,Lm_snap9,Lm_snap10,Lm_snap11,Lm_snap12,Lm_snap13,Lm_snap14,Lm_snap15,Lm_snap16,Lm_snap17,Lm_snap18,Lm_snap19,Lm_snap20,Lm_snap21,Lm_snap22,Lm_snap23,Lm_snap24,Lm_snap25,Lm_snap26,Lm_snap27,Lm_snap28
286,4481514,28000000000004,NaN,1.0,1.187825,1.000000,1.000000,1.114435,1.000000,1.004536,1.017755,1.012107,1.000000,1.000000,1.001575,1.002635,1.000517,1.000000,1.000000,1.000000,1.000000,1.000591,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
371,13246029,28000000000075,NaN,NaN,NaN,NaN,NaN,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,NaN,NaN,NaN,NaN,0.000000,1.000097,1.000000,1.000000,1.000000,1.000000
966,8452651,28000000000374,1.0,1.0,1.000000,1.000000,1.000000,1.004964,1.006605,1.000000,1.001648,1.008057,1.009775,1.006778,1.067622,1.003683,1.000000,1.000755,1.000191,1.000294,1.000474,1.000000,1.000000,1.000000,1.000000,1.000093,1.000188,1.000191,1.000966,1.000000
1061,13632282,28000000000092,NaN,NaN,1.000000,1.000000,1.352668,1.123064,1.079430,1.054215,1.056000,1.469496,1.100367,1.026018,1.000120,1.000110,1.000000,1.000096,1.000278,1.000338,1.000871,1.000000,1.000000,1.000173,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
1083,11149101,28000000002973,NaN,1.0,1.000000,1.000000,1.000000,1.000000,1.000000,1.061438,1.000000,1.129080,1.192777,1.003516,1.010136,1.009612,1.000000,1.000000,1.000000,1.000000,1.000000,1.000537,1.000000,1.000229,1.000000,1.000104,1.000000,1.000000,1.000000,1.000000
1185,2658205,28000000000001,NaN,1.0,1.000000,3.482851,1.000000,1.000000,1.058968,1.039723,1.076828,1.000000,1.180232,1.005042,1.002123,1.000704,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
1224,18426227,28000000001038,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,1.000392,1.000000
1245,9863675,28000000001716,NaN,1.0,1.000000,1.084023,1.000000,1.103399,1.841533,1.006044,1.001811,1.012691,1.003964,1.008582,1.001822,1.001695,1.000000,1.000000,1.000995,1.000376,1.000170,1.000000,1.000716,1.000000,1.000924,1.000208,1.000000,1.000000,1.000000,1.000076
1300,2631557,28000000000001,NaN,1.0,1.000000,1.109115,1.176673,1.032458,1.011648,1.000000,1.012009,1.001113,1.030010,1.002063,1.003067,1.000563,1.000000,1.000194,1.000000,1.000303,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
1314,9490149,28000000000001,NaN,1.0,1.000000,1.041362,1.068304,1.032656,1.034531,1.038854,1.030939,1.038997,1.002682,1.003020,1.003677,1.011990,1.000677,1.000383,1.000000,1.000233,1.000000,1.000786,1.000000,1.000000,1.000000,1.000079,1.000000,1.000000,1.000000,1.000000
1616,50758,28000000000000,NaN,1.0,1.000000,1.457192,2.050189,1.075569,1.058875,1.004599,1.009099,1.001123,1.005471,1.000000,1.006227,1.001037,1.000704,1.000473,1.000723,1.000000,1.000000,1.000519,1.000448,1.000228,1.000260,1.000000,1.000000,1.000000,1.000098,1.000000
1675,10905232,28000000002631,NaN,NaN,NaN,NaN,1.000000,1.791069,1.079389,1.438865,1.000000,1.062968,1.008630,1.000000,1.006806,1.001658,1.000000,1.000000,1.000204,1.000705,1.000000,1.000000,1.000374,1.000000,1.000000,1.000104,1.000000,1.000000,1.000000,1.000000
2376,8929121,28000000001167,NaN,1.0,1.000000,1.000000,1.000000,1.274084,1.163076,1.000000,1.000000,1.655844,1.000000,1.034968,1.009694,1.037078,1.000000,1.000000,1.000309,1.000000,1.000959,1.000000,1.000612,1.000495,1.000092,1.000089,1.000116,1.000000,1.000000,1.000469
2391,10110161,28000000001941,NaN,1.0,1.000000,1.000000,1.000000,1.000000,1.000000,1.079819,1.097520,1.000000,1.010813,1.087785,1.062905,1.000667,1.000460,1.000225,1.000000,1.000275,1.000000,1.000102,1.000000,1.000178,1.000242,1.000000,1.000000,1.000897,1.000291,1.000000
2761,17370702,28000000000642,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000
3179,2304936,28000000000282,NaN,NaN,NaN,NaN,1.000000,1.000000,1.000000,1.364910,1.124745,1.040416,1.098147,1.113630,1.024071,1.004189,1.000883,1.000000,1.000000,1.000815,1.000139,1.000637,1.000102,1.000000,1.000288,1.000000,1.000000,1.000000,1.000000,1.000000
3451,9847064,28000000001702,1.0,1.0,1.000000,1.000000,1.000000,1.000000,1.000000,1.007269,1.040048,1.036039,1.006820,1.005937,1.000941,1.002260,1.000147,1.000869,1.000145,1.000000,1.000328,1.000000,1.000000,1.000000,1.000000,1.000173,1.000815,1.000000,1.000000,1.000000
3555,246134,28000000000074,NaN,1.0,1.000000,2.030268,1.000000,1.000000,1.319814,1.000000,1.000000,1.074168,1.265836,1.037633,1.003492,1.003240,1.000000,1.000250,1.000000,1.000144,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
3594,17852947,28000000000798,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000

In [9]:
np.arange(16,30)

array([16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29])