## Descargamos datos de galaxias que no hayan sufrido mergers

In [1]:
import numpy as np
import pandas as pd
import merger_tree_tools as mtt
import eagleSqlTools as sql
from astropy.cosmology import FlatLambdaCDM
import random

In [2]:
np.seterr(all="ignore")

{'divide': 'warn', 'over': 'warn', 'under': 'ignore', 'invalid': 'warn'}

In [3]:
pd.options.mode.chained_assignment = None

In [4]:
cosmo = FlatLambdaCDM(H0=67.77, Om0=0.307)

### Descargamos las tablas que usamos

In [5]:
# Historia de merger de las galaxias mayores a 10**10 del snap 28
merger = pd.read_csv('/home/ramiro/Facultad/Tesis/Datos/Actividad 10/Actividad_8(merger_history_solo_star_mass)_(mstar>10e8).dat')

In [26]:
merger

,GalaxyID_test,GroupID_test,Lm_snap1,Lm_snap2,Lm_snap3,Lm_snap4,Lm_snap5,Lm_snap6,Lm_snap7,Lm_snap8,Lm_snap9,Lm_snap10,Lm_snap11,Lm_snap12,Lm_snap13,Lm_snap14,Lm_snap15,Lm_snap16,Lm_snap17,Lm_snap18,Lm_snap19,Lm_snap20,Lm_snap21,Lm_snap22,Lm_snap23,Lm_snap24,Lm_snap25,Lm_snap26,Lm_snap27,Lm_snap28
0,9498012,28000000000002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,1.000000,1.0,1.330734,1.0,1.000000,1.0,1.0,1.237301,1.0,1.0,1.34205,1.0,1.000000,1.0,1.0,1.0,1.000000
1,9508202,28000000000002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,1.0,1.000000,1.0,1.000000,1.0,1.110041,1.0,1.0,1.230523,1.0,1.0,1.00000,1.0,1.000000,1.0,1.0,1.0,1.000000
2,9512113,28000000000002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,1.0,1.514477,1.0,1.000000,1.0,1.000000,1.0,1.0,1.000000,1.0,1.0,1.00000,1.0,1.566030,1.0,1.0,1.0,1.000000
3,9517736,28000000000002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.000000,1.0,1.000000,1.0,1.0,1.000000,1.0,1.0,1.00000,1.0,1.000000,1.0,1.0,1.0,1.149444
4,9519365,28000000000002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,1.000000,1.0,1.000000,1.0,1.000000,1.0,1.0,1.000000,1.0,1.0,1.00000,1.0,1.000000,1.0,1.0,1.0,1.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3633,10365607,28000000002202,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.000000,1.0,1.000000,1.0,1.0,1.000000,1.0,1.0,1.00000,1.0,1.000000,1.0,1.0,1.0,1.000000
3634,10859653,28000000002570,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,1.000000,1.0,1.0,1.00000,1.0,1.000000,1.0,1.0,1.0,1.000000
3635,11104654,28000000002905,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,1.0,1.000000,1.0,1.0,1.000000,1.0,1.0,1.00000,1.0,1.000000,1.0,1.0,1.0,1.000000
3636,11247394,28000000003127,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.000000,1.0,1.0,1.000000,1.0,1.0,1.00000,1.0,1.000000,1.0,1.0,1.0,1.000000
3637,12002343,28000000004258,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,1.0,1.000000,1.0,1.0,1.000000,1.0,1.0,1.00000,1.0,1.262806,1.0,1.0,1.0,1.000000

In [6]:
# Tamaño de visualización de los DataFrame

pd.options.display.max_rows = 28
pd.options.display.max_columns = 50

In [88]:
# Creo un módulo para seleccionar galaxias al azar que tengan merger igual a uno. Es con reposición.

i=0
gal_ID  = []
snap_ID = []

# Necesito 3521(+1) galaxias

while i <= 3521:
    c = random.randint(1,29)
    f = random.randint(0,3637)
    
    if merger.iloc[f,c] == 1.0:
        gal_ID.append(merger.iloc[f,0])
        snap_ID.append(c-1)
        i=i+1

## Descarga de datos:

In [89]:
# Acá decidimos cuantas galaxias queremos en la tabla

# long = 10
long = len(gal_ID)

In [90]:
print('Estimación de duración:  ',int((20*long)/3600),':',int(((20*long)%3600)/60),':',round((20*long)%60))

Estimación de duración:   19 : 34 : 0

In [91]:
CATALOGO = pd.DataFrame()

# DataFrame para las ramas principales
LAST_SUB = pd.DataFrame()
LAST_MOR = pd.DataFrame()
LAST_SIZ = pd.DataFrame()
LAST_FOF = pd.DataFrame()

# DataFrame para los progenitores, es más data que la que necesito.

# LAST_MOR_TREE = pd.DataFrame()
# LAST_SIZ_TREE = pd.DataFrame()
# LAST_SUB_TREE = pd.DataFrame()

# DataFrame que contiene la información condensada de los progenitores

PROGENITOR = pd.DataFrame(columns=['GalaxyID_snap28','Stars_Mass_tot','SF_Mass_tot','NSF_Mass_tot','M_Zstar_tot','MSF_O_tot','MSF_H_tot','BlackHoleMass_tot'])

# for ID in np.arange(long):
    
#     list_merger = [] # Creamos una lista con los snaps en donde ocurren max mergers

#     for snap in np.arange(cota_snap,29):
#         if (merger['Lm_snap'+str(snap)].iloc[ID] >= cota_inferior_merger) and (merger['Lm_snap'+str(snap)].iloc[ID] <= cota_superior_merger):
#             list_merger.append(snap)
paso=0

for ID,maxsnap in zip(gal_ID,snap_ID):
    
        paso= paso+1
        
        CATALOGOS=['Subhalo','Sizes','MorphoKinem']

        ALIAS=['sub','siz','mor']

        COLUMNAS=[
                   [
                    'GalaxyID','GroupID','SubGroupNumber','LastProgID','TopLeafID','DescendantID',
                    'SnapNum','Stars_Mass','SF_Hydrogen','SF_Oxygen','Redshift',
                    'StarFormationRate','Stars_Metallicity','SF_Mass','NSF_Mass','BlackHoleMass','MassType_DM',
                    'SF_Metallicity','Vmax','CentreOfPotential_x','CentreOfPotential_y','CentreOfPotential_z','HalfMassRad_Star'
                   ],
                   [
                    'GalaxyID','R_halfmass30','R_halfmass100'
                   ],
                   [
                    'GalaxyID', 'KappaCoRot'
                   ]
                 ]

        # Lista con las diferentes catálogos 
        DATAFRAMES=[]

        # Simulación a usar y datos de galaxia deseada
        simu='RefL0100N1504'

        snap  = 28
        galid = ID

        # Usuario y contraseña para conectarse a EAGLE DataBase
        usr='cht015'
        pwd='BH457tfj'

        # Descargar todos los IDS necesarios de la galaxia deseada

        myIDs=mtt.retrieve_ids(usr,pwd,simu,snap,galid)

        for j in np.arange(len(CATALOGOS)):
            # Descargar merger tree completo de la galaxia deseada
            # Nombre y alias de la tabla de la cual se quieren descargar datos
            table=CATALOGOS[j]
            table_alias=ALIAS[j]

            # Variables que se quiere descargar. OJO!! Asegurarse que estas variables
            # estén en la tabla deseada.
            columns=COLUMNAS[j]

            tree=mtt.download_merger_tree(usr,pwd,simu,myIDs['GalaxyID'],myIDs['LastProgID'],
                                          table=table,table_alias=table_alias,columns=columns)

            # NOTA: si ya se tiene descargados en un archivo todas las galaxias de la simu, se puede
            #       saltear esta celda, y en su lugar, leer dicho archivo de datos y usar máscaras
            #       para seleccionar las galaxias del árbol deseado
     
            # Aplicar condiciones a las galaxias del árbol, si es necesario


            # Armar arbol sólo con galaxias seleccionadas según condiciones anteriores

            if ALIAS[j]=='sub':
                # Agregar variables al árbol final, si es necesario
                tree['sSFR']=tree['StarFormationRate']/tree['Stars_Mass']
                tree['SF_logOH']=12+np.log10(tree['SF_Oxygen']/tree['SF_Hydrogen'])-np.log10(16)

            DATAFRAMES.append(pd.DataFrame(tree))
    
        Sub_tree_a=DATAFRAMES[0]
        Siz_tree_a=DATAFRAMES[1]
        Mor_tree_a=DATAFRAMES[2]

        # Borro algunas variables
        del DATAFRAMES

        ## Armamos las ramas principales

        # Seleccionamos la histora particular de las fusiones para las galaxias seleccionadas 
        mask_a = (merger['GalaxyID_test'] == galid)
        merger_a = merger[mask_a].drop(labels=['GalaxyID_test','GroupID_test'],axis=1).copy()

        # RedShift correspondiente a los sanps 1 a 28
        redshift = [15.13, 9.99, 8.99, 8.07, 7.05, 5.97, 5.49, 5.04, 4.49, 3.98,
                     3.53, 3.02, 2.48, 2.24, 2.01, 1.74, 1.49, 1.26, 1.00, 0.87,
                     0.74, 0.62, 0.50, 0.37, 0.27, 0.18, 0.10, 0.00]

        REDSHIFT = ['15.13', '9.99', '8.99', '8.07', '7.05', '5.97', '5.49', '5.04', '4.49', '3.98',
                     '3.53', '3.02', '2.48', '2.24', '2.01', '1.74', '1.49', '1.26', '1.00', '0.87',
                     '0.74', '0.62', '0.50', '0.37', '0.27', '0.18', '0.10', '0.00']

        tiempo = cosmo.age(redshift).value

        # Tiramos las columnas que estén repetidas
        Sub_tree_a.drop(labels=['SubHaloGalaxyID'],axis=1,inplace=True)

        # Agregamos una columna temporal
        Sub_tree_a['tiempo'] = cosmo.age(Sub_tree_a['Redshift']).value

        # Unimos las diferentes tablas de los catálogos que tengamos

        Sub_Mor_tree_a = pd.merge(right=Mor_tree_a,left=Sub_tree_a,right_on='GalaxyID',left_on='GalaxyID')
        Sub_Siz_tree_a = pd.merge(right=Siz_tree_a,left=Sub_tree_a,right_on='GalaxyID',left_on='GalaxyID')

       # Ordenamos de manera decreciente según el redshift

        Sub_tree_a.sort_values(by=['Redshift'],ascending=False,inplace=True)
        Sub_Mor_tree_a.sort_values(by=['Redshift'],ascending=False,inplace=True)
        Sub_Siz_tree_a.sort_values(by=['Redshift'],ascending=False,inplace=True)

        # Creamos la Main Branch de cada una de las galaxias, para eso armamos un dict con myIDs

        myIDs_a = {'GalaxyID': Sub_tree_a['GalaxyID'].iloc[-1],'TopLeafID': Sub_tree_a['TopLeafID'].iloc[-1],
                   'LastProgID': Sub_tree_a['LastProgID'].iloc[-1],'DescendantID': Sub_tree_a['DescendantID'].iloc[-1]} 

        # Armo un diccionario con solo la main branch del árbol

        Main_Sub_a     = {}
        Main_Sub_Mor_a = {}
        Main_Sub_Siz_a = {}

        # Mascaras para las galaxias y los diferentes catálogos

        # Para la galxia a
        mask_main_sub_a     = np.logical_and(Sub_tree_a['GalaxyID']>=myIDs_a['GalaxyID'],
                                             Sub_tree_a['GalaxyID']<=myIDs_a['TopLeafID'])

        mask_main_sub_mor_a = np.logical_and(Sub_Mor_tree_a['GalaxyID']>=myIDs_a['GalaxyID'],
                                             Sub_Mor_tree_a['GalaxyID']<=myIDs_a['TopLeafID'])

        mask_main_sub_siz_a = np.logical_and(Sub_Siz_tree_a['GalaxyID']>=myIDs_a['GalaxyID'],
                                             Sub_Siz_tree_a['GalaxyID']<=myIDs_a['TopLeafID'])

        # Creamos la main brunch

        # Para la galaxia a
        for key in Sub_tree_a.keys():
            Main_Sub_a[key] = Sub_tree_a[key][mask_main_sub_a]
    
        for key in Sub_Mor_tree_a.keys():
            Main_Sub_Mor_a[key] = Sub_Mor_tree_a[key][mask_main_sub_mor_a]
     
        for key in Sub_Siz_tree_a.keys():
            Main_Sub_Siz_a[key] = Sub_Siz_tree_a[key][mask_main_sub_siz_a]

        # Dataframe de los catálogos para las galaxias elegidas, main brunch.
        Main_Sub_a     = pd.DataFrame(Main_Sub_a)
        Main_Sub_Mor_a = pd.DataFrame(Main_Sub_Mor_a)
        Main_Sub_Siz_a = pd.DataFrame(Main_Sub_Siz_a)

        # Listas de los catálogos para las galaxias elegidas, trees.
        SUB_TREE     = [Sub_tree_a]
        SUB_SIZ_TREE = [Sub_Siz_tree_a]
        SUB_MOR_TREE = [Sub_Mor_tree_a]

        # Listas de los catálogos para las galaxias elegidas, trees.
        SUB_MAIN     = [Main_Sub_a]
        SUB_SIZ_MAIN = [Main_Sub_Siz_a]
        SUB_MOR_MAIN = [Main_Sub_Mor_a]

        # Borro algunas variables

        del Sub_tree_a, Sub_Siz_tree_a, Sub_Mor_tree_a, Main_Sub_a, Main_Sub_Siz_a, Main_Sub_Mor_a

        #Aplico algunas mascarás para quedarnos con los datos de las galaxias en el momento posterior y del merger. En la rama principal 
    
        mask_sub_main = (SUB_MAIN[0]['SnapNum']==maxsnap)|(SUB_MAIN[0]['SnapNum']==maxsnap-1)
        mask_siz_main = (SUB_SIZ_MAIN[0]['SnapNum']==maxsnap)|(SUB_SIZ_MAIN[0]['SnapNum']==maxsnap-1)
        mask_mor_main = (SUB_MOR_MAIN[0]['SnapNum']==maxsnap)|(SUB_MOR_MAIN[0]['SnapNum']==maxsnap-1)

        TEMP_SUB = SUB_MAIN[0][mask_sub_main]
        TEMP_SIZ = SUB_SIZ_MAIN[0][mask_siz_main]
        TEMP_MOR = SUB_MOR_MAIN[0][mask_mor_main]
   
        #Hacemos lo mismo para los progenitores, las galaxias del tree sin el progenitor principal
    
        mask_sub_tree = (SUB_TREE[0]['SnapNum']==maxsnap-1)&(SUB_TREE[0]['DescendantID'] == int(TEMP_SUB['GalaxyID'].iloc[1]))&(SUB_TREE[0]['Stars_Mass']>0)&(SUB_TREE[0]['GalaxyID'] != TEMP_SUB['GalaxyID'].iloc[0])
        mask_siz_tree = (SUB_SIZ_TREE[0]['SnapNum']==maxsnap-1)&(SUB_SIZ_TREE[0]['DescendantID'] == int(TEMP_SUB['GalaxyID'].iloc[1]))&(SUB_SIZ_TREE[0]['Stars_Mass']>0)&(SUB_SIZ_TREE[0]['GalaxyID'] != TEMP_SUB['GalaxyID'].iloc[0])
        mask_mor_tree = (SUB_MOR_TREE[0]['SnapNum']==maxsnap-1)&(SUB_MOR_TREE[0]['DescendantID'] == int(TEMP_SUB['GalaxyID'].iloc[1]))&(SUB_MOR_TREE[0]['Stars_Mass']>0)&(SUB_MOR_TREE[0]['GalaxyID'] != TEMP_SUB['GalaxyID'].iloc[0])
    

        TEMP_SUB_TREE = SUB_TREE[0][mask_sub_tree]
        TEMP_SIZ_TREE = SUB_SIZ_TREE[0][mask_siz_tree]
        TEMP_MOR_TREE = SUB_MOR_TREE[0][mask_mor_tree]
    
        #Limpiamos las tablas de algunas columnas
    
        TEMP_SIZ.drop(['GroupID', 'SubGroupNumber', 'LastProgID', 'TopLeafID','DescendantID', 'SnapNum', 'Stars_Mass',
                       'SF_Hydrogen', 'SF_Oxygen','Redshift', 'StarFormationRate', 'Stars_Metallicity', 'SF_Mass','SF_Mass','BlackHoleMass',
                       'MassType_DM', 'SF_Metallicity', 'Vmax','CentreOfPotential_x', 'CentreOfPotential_y', 'CentreOfPotential_z',
                       'HalfMassRad_Star', 'sSFR', 'SF_logOH', 'tiempo'], axis=1,inplace=True)

        TEMP_MOR.drop(['GroupID', 'SubGroupNumber', 'LastProgID', 'TopLeafID','DescendantID', 'SnapNum', 'Stars_Mass',
                       'SF_Hydrogen', 'SF_Oxygen','Redshift', 'StarFormationRate', 'Stars_Metallicity', 'SF_Mass','SF_Mass','BlackHoleMass',
                       'MassType_DM', 'SF_Metallicity', 'Vmax','CentreOfPotential_x', 'CentreOfPotential_y', 'CentreOfPotential_z',
                       'HalfMassRad_Star', 'sSFR', 'SF_logOH', 'tiempo'],axis=1,inplace=True)
    

        TEMP_SIZ_TREE.drop(['GroupID', 'SubGroupNumber', 'LastProgID', 'TopLeafID','DescendantID', 'SnapNum', 'Stars_Mass',
                            'SF_Hydrogen', 'SF_Oxygen','Redshift', 'StarFormationRate', 'Stars_Metallicity', 'SF_Mass','SF_Mass','BlackHoleMass',
                            'MassType_DM', 'SF_Metallicity', 'Vmax','CentreOfPotential_x', 'CentreOfPotential_y', 'CentreOfPotential_z',
                            'HalfMassRad_Star', 'sSFR', 'SF_logOH', 'tiempo'], axis=1,inplace=True)

        TEMP_MOR_TREE.drop(['GroupID', 'SubGroupNumber', 'LastProgID', 'TopLeafID','DescendantID', 'SnapNum', 'Stars_Mass',
                            'SF_Hydrogen', 'SF_Oxygen','Redshift', 'StarFormationRate', 'Stars_Metallicity', 'SF_Mass','SF_Mass','BlackHoleMass',
                            'MassType_DM', 'SF_Metallicity', 'Vmax','CentreOfPotential_x', 'CentreOfPotential_y', 'CentreOfPotential_z',
                            'HalfMassRad_Star', 'sSFR', 'SF_logOH', 'tiempo'],axis=1,inplace=True)
      
        # Agrego columnas con el GalaxyID en el snap 28, level of merger y el snap en el cual ocurrió:
        TEMP_SUB.insert(0,'GalaxyID_snap28',[ID,ID])
    
        TEMP_SUB.insert(2,'Lm_max',[int(merger.loc[merger['GalaxyID_test'] == ID,'Lm_snap'+str(maxsnap)].values),int(merger.loc[merger['GalaxyID_test'] == ID,'Lm_snap'+str(maxsnap)].values)])
        
        # Appendiamos los datos a las tablas permanente para la rama principal y los progenitores

        LAST_MOR = LAST_MOR.append(TEMP_MOR)
        LAST_SIZ = LAST_SIZ.append(TEMP_SIZ)
        LAST_SUB = LAST_SUB.append(TEMP_SUB)

        # Para las ramas
        toda_la_tabla = False 
        if toda_la_tabla:
        
            LAST_MOR_TREE = LAST_MOR_TREE.append(TEMP_MOR_TREE)
            LAST_SIZ_TREE = LAST_SIZ_TREE.append(TEMP_SIZ_TREE)
            LAST_SUB_TREE = LAST_SUB_TREE.append(TEMP_SUB_TREE)
    
        # Datos condenssados de los progenitores
    
        data = {'GalaxyID_snap28': int(ID),
                'Stars_Mass_tot': sum(TEMP_SUB_TREE['Stars_Mass']),
                'SF_Mass_tot': sum(TEMP_SUB_TREE['SF_Mass']),
                'NSF_Mass_tot': sum(TEMP_SUB_TREE['NSF_Mass']),
                'M_Zstar_tot': sum(TEMP_SUB_TREE['Stars_Metallicity']*TEMP_SUB_TREE['Stars_Mass']),
                'MSF_O_tot': sum(TEMP_SUB_TREE['SF_Mass']*TEMP_SUB_TREE['SF_Oxygen']),
                'MSF_H_tot': sum(TEMP_SUB_TREE['SF_Mass']*TEMP_SUB_TREE['SF_Hydrogen']),
                'BlackHoleMass_tot': sum(TEMP_SUB_TREE['BlackHoleMass'])}
    
        PROGENITOR = PROGENITOR.append(data,ignore_index=True)
    
        PROGENITOR = PROGENITOR.astype({'GalaxyID_snap28': int,
                                        'Stars_Mass_tot': float,
                                        'SF_Mass_tot': float,
                                        'NSF_Mass_tot': float,
                                        'M_Zstar_tot': float,
                                        'MSF_O_tot': float,
                                        'MSF_H_tot': float,
                                        'BlackHoleMass_tot': float})
        
        # Tabla y Alias de la tabla desde donde quiero descargar datos para el catálogo fof
    
        table='FOF'
        table_alias='fof'  

        # Columnas a seleccionar (agregar/quitar según sea necesario)
    
        columns=[
                 'GroupID','SnapNum','GroupCentreOfPotential_x','GroupCentreOfPotential_y','GroupCentreOfPotential_z'
                ,'Group_M_Crit200','Group_R_Crit200','NumOfSubhalos'
                ]

        # De qué tabla seleccionar ('FROM' en la query SQL)
    
        from_table=simu+'_'+table+' as '+table_alias
 
        DATA_FOF = pd.DataFrame()

        for i in np.arange(len(TEMP_SUB['GroupID'])):
            # Simulación y snapnum deseado
            snap = TEMP_SUB['SnapNum'].iloc[i]
            GID  = TEMP_SUB['GroupID'].iloc[i]
           # Condiciones para seleccionar ('WHERE' en la query SQL)
           # NO AGREGAR ACÁ EL ALIAS DE LA TABLA! Se agragará después
            where_cond=[
                        'SnapNum='+str(snap),
                        'GroupID='+str(GID)
                       ]

            #---------------------------------------------------------------------------

            # Armo la sentencia 'SELECT' a partir de la lista de columnas
            select=','.join([table_alias+'.'+col for col in columns])

            # Armo la sentencia 'WHERE' a paritr de la lista de condiciones
            where=' and '.join(where_cond)

            #### Conexión a la base de datos y descarga

            # Conectarse a la base de datos
            con = sql.connect(usr,password=pwd)

            # Query en SQL
            query = 'SELECT '+select+' FROM '+from_table+' WHERE '+where

            # Execute query 
            exquery = sql.execute_query(con, query)

            # List of column names of downloaded data
            colnames = (exquery.view(np.recarray).dtype.names)

            # Dictionary of data
            mytable={}
            for name in colnames:
                mytable[name]=exquery[name]
        
            # Nuevo diccionario para poder pasarlo a dataframe, seguro que se puede hacer mejor
            newtable={}
            for name in colnames:
                newtable[name]=float(mytable[name])
    
            if i==0:
                DATA_FOF = pd.DataFrame(data=newtable,index=[0])
            else:DATA_FOF = DATA_FOF.append(newtable,ignore_index=True)

        DATA_FOF = DATA_FOF.astype({'GroupID':int,'SnapNum':int,'GroupCentreOfPotential_x':float, 'GroupCentreOfPotential_y':float
                                   ,'GroupCentreOfPotential_z':float, 'Group_M_Crit200':float,
                                    'Group_R_Crit200':float, 'Group_R_Crit200':float, 'NumOfSubhalos':int})

        DATA_FOF.drop(columns=['SnapNum'], inplace=True)
    
        DATA_FOF.insert(0,'GalaxyID_snap28',[ID,ID])
        LAST_FOF = LAST_FOF.append(DATA_FOF)
    
        print('Porcentaje maomeno:',round(float((paso)/long),3),end='\r')

In [92]:
# Tablas finales

In [103]:
LAST_SUB

,GalaxyID_snap28,GalaxyID,Lm_max,GroupID,SubGroupNumber,LastProgID,TopLeafID,DescendantID,SnapNum,Stars_Mass,SF_Hydrogen,SF_Oxygen,Redshift,StarFormationRate,Stars_Metallicity,SF_Mass,NSF_Mass,BlackHoleMass,MassType_DM,SF_Metallicity,Vmax,CentreOfPotential_x,CentreOfPotential_y,CentreOfPotential_z,HalfMassRad_Star,sSFR,SF_logOH,tiempo
7,9094126,9094133,1,21000000002145,0,9094964,9094153,9094132,21,1.315304e+10,0.703616,0.010057,0.735630,4.051749,0.013376,7.724102e+09,3.094007e+10,1.083398e+06,6.033518e+11,0.022397,171.317184,46.847057,2.947518,0.023435,6.613609,3.080466e-10,8.951028,7.130777
6,9094126,9094132,1,22000000002020,0,9095163,9094153,9094131,22,1.461062e+10,0.696608,0.011183,0.615190,2.886075,0.014527,6.449782e+09,2.951594e+10,1.094583e+06,6.236048e+11,0.025386,172.135422,47.092255,2.747090,0.411954,6.584076,1.975328e-10,9.001436,7.841096
3,14747623,14747626,1,25000000000190,0,14753486,14747650,14747625,25,5.901662e+10,0.717580,0.007626,0.270901,0.414782,0.011828,1.086356e+09,5.285389e+11,1.708798e+08,7.973739e+12,0.016376,298.366394,29.706312,93.135674,37.728584,11.657393,7.028217e-12,8.822333,10.576508
2,14747623,14747625,1,26000000000197,0,14754055,14747650,14747624,26,6.377685e+10,0.720110,0.007207,0.182710,0.564591,0.011664,1.328622e+09,5.372348e+11,1.759660e+08,8.178121e+12,0.015154,308.295074,29.798101,92.997734,37.947788,14.584736,8.852608e-12,8.796224,11.501236
8,14851689,14851697,1,20000000000173,0,14855398,14851717,14851696,20,5.735663e+10,0.723219,0.006415,0.865051,5.210563,0.012104,9.286845e+09,3.622334e+11,1.513389e+08,5.729723e+12,0.013723,333.951660,79.770226,27.251545,54.965473,5.746480,9.084501e-11,8.743815,6.471967
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12,17267398,17267410,1,16000000001606,0,17267792,17267424,17267409,16,3.166926e+09,0.733175,0.004902,1.736966,2.605325,0.006100,4.751357e+09,3.108548e+10,7.110650e+05,4.123012e+11,0.009383,148.793671,74.801926,51.720665,65.607216,4.942211,8.226671e-10,8.621030,3.766854
13,13235355,13235368,1,15000100000310,0,13235828,13235381,13235367,15,6.699851e+09,0.726940,0.006366,2.012410,6.889818,0.007001,8.361445e+09,3.324026e+10,1.204832e+06,5.477022e+11,0.012494,176.037201,1.604595,23.647816,71.778519,2.898853,1.028354e-09,8.738233,3.276224
12,13235355,13235367,1,16000000001236,0,13236017,13235381,13235366,16,1.141524e+10,0.717482,0.008091,1.736966,13.263180,0.009575,1.155304e+10,3.404848e+10,2.300392e+06,6.232363e+11,0.016630,199.662247,1.785006,23.708748,71.573318,2.872316,1.161884e-09,8.848047,3.766854
4,10983248,10983252,1,24000000000014,6,10983932,10983274,10983251,24,1.628362e+10,0.652105,0.018338,0.365669,1.336666,0.020320,1.826679e+09,2.079590e+08,2.691456e+06,2.546598e+11,0.043921,159.768265,34.387173,66.529106,9.073947,3.616162,8.208654e-11,9.244920,9.698071
3,10983248,10983251,1,25000000000014,6,10983980,10983274,10983250,25,1.653815e+10,0.602001,0.024656,0.270901,0.488578,0.021309,5.151652e+08,6.960049e+07,3.806271e+06,2.634241e+11,0.065243,153.066254,35.140858,66.185463,9.029162,3.779004,2.954249e-11,9.408210,10.576508

In [94]:
LAST_MOR

    GalaxyID      NSF_Mass  KappaCoRot  SubHaloGalaxyID
7    9094133  3.094007e+10    0.484320          9094133
6    9094132  2.951594e+10    0.521053          9094132
3   14747626  5.285389e+11    0.195060         14747626
2   14747625  5.372348e+11    0.274051         14747625
8   14851697  3.622334e+11    0.217985         14851697
..       ...           ...         ...              ...
11  17267410  3.108548e+10    0.478517         17267410
13  13235368  3.324026e+10    0.217356         13235368
12  13235367  3.404848e+10    0.237165         13235367
4   10983252  2.079590e+08    0.582767         10983252
3   10983251  6.960049e+07    0.551478         10983251

[7031 rows x 4 columns]

In [95]:
LAST_SIZ

    GalaxyID      NSF_Mass  R_halfmass30  R_halfmass100  SubHaloGalaxyID
7    9094133  3.094007e+10      6.323197       6.598900          9094133
6    9094132  2.951594e+10      6.196911       6.575840          9094132
3   14747626  5.285389e+11      6.098166       8.312414         14747626
2   14747625  5.372348e+11      7.131010      10.005218         14747625
8   14851697  3.622334e+11      3.970270       5.032098         14851697
..       ...           ...           ...            ...              ...
11  17267410  3.108548e+10      4.719892       4.900778         17267410
13  13235368  3.324026e+10      2.745632       2.890844         13235368
12  13235367  3.404848e+10      2.749229       2.865145         13235367
4   10983252  2.079590e+08      3.554044       3.614920         10983252
3   10983251  6.960049e+07      3.695512       3.777168         10983251

[7043 rows x 5 columns]

In [96]:
LAST_FOF

,GalaxyID_snap28,GroupID,GroupCentreOfPotential_x,GroupCentreOfPotential_y,GroupCentreOfPotential_z,Group_M_Crit200,Group_R_Crit200,NumOfSubhalos
0,9094126,21000000002145,46.847057,2.947519,0.023435,6.644411e+11,139.372955,20
1,9094126,22000000002020,47.092258,2.747090,0.411954,6.900034e+11,148.164139,20
0,14747623,25000000000190,29.706312,93.135674,37.728584,7.832850e+12,381.296478,405
1,14747623,26000000000197,29.798101,92.997734,37.947784,7.870866e+12,394.444366,379
0,14851689,20000000000173,79.770233,27.251547,54.965473,7.780990e+12,300.522003,298
...,...,...,...,...,...,...,...,...
1,17267398,16000000001606,74.801926,51.720665,65.607216,5.317765e+11,89.323753,48
0,13235355,15000100000310,1.604595,23.647816,71.778519,6.430986e+11,87.189110,36
1,13235355,16000000001236,1.785006,23.708748,71.573318,6.817625e+11,97.034073,44
0,10983248,24000000000014,33.833416,66.062675,9.039379,7.336745e+13,775.193542,2417
1,10983248,25000000000014,33.775093,66.152817,9.079150,6.671207e+13,778.646240,2305

In [97]:
LAST_SUB.to_csv(path_or_buf= 'Subhalo_maxmergers(=1).dat',index=False)
LAST_MOR.to_csv(path_or_buf= 'MorphoKinem_maxmergers(=1).dat',index=False)
LAST_SIZ.to_csv(path_or_buf= 'Sizes_maxmergers(=1).dat',index=False)
LAST_FOF.to_csv(path_or_buf= 'FOF_maxmergers(=1).dat',index=False)

In [ ]:
# Fin