# Script para historias de merger para galaxias mayores a 10^10 en el snap 28

In [1]:
import merger_tree_tools as mtt
import numpy as np
from astropy.table import Table
from astropy.cosmology import Planck15 as cosmo
import h5py
import pandas as pd

In [2]:
path_lin ='/home/ramiro/Facultad/Tesis/Datos/Datos_tesis/' 
# path_win =

In [3]:
# Tamaño de visualización de los DataFrame

pd.options.display.max_rows = 28
pd.options.display.max_columns = 50

In [11]:
table  = pd.read_csv(path_lin+'catalogo_proyecto_altas_masas_RefL0100N1504_snap_28.dat')

In [12]:
table

,GalaxyID,SnapNum,GroupID,SubGroupNumber,Stars_Mass,SF_Hydrogen,SF_Oxygen,SF_Mass,NSF_Mass,BlackHoleMass,StarFormationRate,KappaCoRot
0,11106874,28,28000000002908,0,1.403083e+10,0.652572,0.017710,1.071986e+09,6.491301e+09,1.686665e+06,0.475638,0.384913
1,11114869,28,28000000002921,0,5.928559e+09,0.673686,0.015254,1.133230e+09,8.478349e+09,1.319343e+06,0.451554,0.517754
2,11145739,28,28000000002967,0,3.062085e+09,0.670739,0.014978,2.887251e+08,1.097404e+10,6.242903e+05,0.107094,0.266160
3,11185061,28,28000000003032,0,9.342214e+09,0.648204,0.019077,1.294123e+09,1.049395e+10,1.299336e+06,0.474977,0.607995
4,11189634,28,28000000003039,0,6.990981e+09,0.667695,0.015457,7.537351e+08,3.852579e+09,1.193816e+06,0.285224,0.503852
...,...,...,...,...,...,...,...,...,...,...,...,...
10676,12031262,28,28000000004321,0,2.812030e+09,0.709373,0.008899,9.279133e+08,1.448871e+10,6.253917e+05,0.353121,0.505390
10677,12046687,28,28000000004354,0,8.665338e+09,0.679478,0.013732,1.326278e+09,3.987689e+09,2.521957e+06,0.538160,0.339087
10678,12049545,28,28000000004361,0,5.220675e+09,0.679368,0.013776,9.063292e+08,5.547132e+09,4.394979e+05,0.307035,0.526221
10679,12053554,28,28000000004369,0,2.281426e+09,0.698997,0.010522,6.605477e+08,5.974474e+09,4.545501e+05,0.226806,0.333935
10680,12053989,28,28000000004370,0,1.617912e+09,0.708867,0.008654,6.021807e+08,5.835588e+09,2.370558e+05,0.268875,0.203905

In [13]:
table['log(SF_Mass)']   = np.log10(table['SF_Mass'])
table['log(Stars_Mass)']= np.log10(table['Stars_Mass'])
table

,GalaxyID,SnapNum,GroupID,SubGroupNumber,Stars_Mass,SF_Hydrogen,SF_Oxygen,SF_Mass,NSF_Mass,BlackHoleMass,StarFormationRate,KappaCoRot,log(SF_Mass),log(Stars_Mass)
0,11106874,28,28000000002908,0,1.403083e+10,0.652572,0.017710,1.071986e+09,6.491301e+09,1.686665e+06,0.475638,0.384913,9.030189,10.147083
1,11114869,28,28000000002921,0,5.928559e+09,0.673686,0.015254,1.133230e+09,8.478349e+09,1.319343e+06,0.451554,0.517754,9.054318,9.772949
2,11145739,28,28000000002967,0,3.062085e+09,0.670739,0.014978,2.887251e+08,1.097404e+10,6.242903e+05,0.107094,0.266160,8.460484,9.486017
3,11185061,28,28000000003032,0,9.342214e+09,0.648204,0.019077,1.294123e+09,1.049395e+10,1.299336e+06,0.474977,0.607995,9.111975,9.970450
4,11189634,28,28000000003039,0,6.990981e+09,0.667695,0.015457,7.537351e+08,3.852579e+09,1.193816e+06,0.285224,0.503852,8.877219,9.844538
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10676,12031262,28,28000000004321,0,2.812030e+09,0.709373,0.008899,9.279133e+08,1.448871e+10,6.253917e+05,0.353121,0.505390,8.967507,9.449020
10677,12046687,28,28000000004354,0,8.665338e+09,0.679478,0.013732,1.326278e+09,3.987689e+09,2.521957e+06,0.538160,0.339087,9.122634,9.937786
10678,12049545,28,28000000004361,0,5.220675e+09,0.679368,0.013776,9.063292e+08,5.547132e+09,4.394979e+05,0.307035,0.526221,8.957286,9.717727
10679,12053554,28,28000000004369,0,2.281426e+09,0.698997,0.010522,6.605477e+08,5.974474e+09,4.545501e+05,0.226806,0.333935,8.819904,9.358206
10680,12053989,28,28000000004370,0,1.617912e+09,0.708867,0.008654,6.021807e+08,5.835588e+09,2.370558e+05,0.268875,0.203905,8.779727,9.208955

In [41]:
table_a = table[
                (table['log(Stars_Mass)']>=10.6)&
                (table['log(Stars_Mass)']<=10.8)&
                (table['log(SF_Mass)']>=7.75)&(
                (table['KappaCoRot']>=0.56)|
                (table['KappaCoRot']<=0.3))
               ].copy()
table_a

,GalaxyID,SnapNum,GroupID,SubGroupNumber,Stars_Mass,SF_Hydrogen,SF_Oxygen,SF_Mass,NSF_Mass,BlackHoleMass,StarFormationRate,KappaCoRot,log(SF_Mass),log(Stars_Mass)
2004,14674760,28,28000000000186,0,5.808584e+10,0.641425,0.019861,5.731012e+09,3.924097e+11,2.073336e+07,2.982989,0.613804,9.758231,10.764070
2649,15595158,28,28000000000294,0,5.579693e+10,0.657589,0.017242,6.996590e+09,3.810410e+11,1.882281e+07,3.895716,0.605817,9.844886,10.746610
2922,15350630,28,28000000000256,0,5.506657e+10,0.720906,0.006853,8.581105e+08,5.765746e+11,1.463388e+08,0.364950,0.228636,8.933543,10.740888
3065,15207474,28,28000000000236,0,6.044314e+10,0.700362,0.010859,1.258464e+10,6.243416e+11,1.047897e+08,5.007432,0.270376,10.099841,10.781347
3475,15611795,28,28000000000297,0,5.540299e+10,0.653135,0.018224,9.152580e+09,1.490140e+11,4.085064e+06,3.842825,0.633139,9.961544,10.743533
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10474,17277488,28,28000000000609,0,4.350128e+10,0.675410,0.013947,5.711369e+09,1.622879e+11,2.425075e+07,3.050475,0.627007,9.756740,10.638502
10553,17374402,28,28000000000644,0,6.125631e+10,0.699098,0.009802,3.676293e+08,1.292626e+11,6.849015e+07,0.167549,0.224860,8.565410,10.787151
10555,17654556,28,28000000000719,0,4.931744e+10,0.654573,0.017430,1.214177e+09,8.071628e+10,4.749406e+07,0.630920,0.126861,9.084282,10.693001
10556,17715888,28,28000000000744,0,4.708540e+10,0.667227,0.015609,8.600105e+09,1.732610e+11,8.953330e+06,3.468165,0.664542,9.934504,10.672886
10577,18165555,28,28000000000914,0,4.057240e+10,0.666458,0.015895,5.456087e+09,1.191112e+11,6.918168e+06,1.974900,0.645347,9.736881,10.608231

In [42]:
data = {'GalaxyID_test':[],'GroupID_test':[],
        'Lm_snap1':[],'Lm_snap2':[],'Lm_snap3':[],'Lm_snap4':[],
        'Lm_snap5':[],'Lm_snap6':[],'Lm_snap7':[],'Lm_snap8':[],
        'Lm_snap9':[],'Lm_snap10':[],'Lm_snap11':[],'Lm_snap12':[],
        'Lm_snap13':[],'Lm_snap14':[],'Lm_snap15':[],'Lm_snap16':[],
        'Lm_snap17':[],'Lm_snap18':[],'Lm_snap19':[],'Lm_snap20':[],
        'Lm_snap21':[],'Lm_snap22':[],'Lm_snap23':[],'Lm_snap24':[],
        'Lm_snap25':[],'Lm_snap26':[],'Lm_snap27':[],'Lm_snap28':[]}

DATA_merge = pd.DataFrame(data=data)

In [43]:
simu='RefL0100N1504'
snap=28

In [44]:
long = len(table_a['GalaxyID'])

# long = 10

# Usuario y contraseña para conectarse a EAGLE DataBase
usr='cht015'
pwd='BH457tfj'

# Descargar merger tree completo de la galaxia deseada
# Nombre y alias de la tabla de la cual se quieren descargar datos
table='SubHalo'
table_alias='sub'

# Variables que se quiere descargar. OJO!! Asegurarse que estas variables
# estén en la tabla deseada.
columns=[
          'GalaxyID','LastProgID','TopLeafID','DescendantID',
          'SnapNum','Redshift','Stars_Mass','SF_Mass','GroupID'
        ]

#Loop para todas las galaxias de la tabla
for p in np.arange(long):

    galid = table_a['GalaxyID'].to_numpy()[p]
 
    # Descargar todos los IDS necesarios de la galaxia deseada

    myIDs    = mtt.retrieve_ids(usr,pwd,simu,snap,galid)

    raw_tree = mtt.download_merger_tree(usr,pwd,simu,myIDs['GalaxyID'],myIDs['LastProgID'],
                                  table=table,table_alias=table_alias,columns=columns)
    
    # Aplicar condiciones a las galaxias del árbol, si es necesario
    mask = (
            (raw_tree['Stars_Mass']>0)
           )

    # Armar arbol sólo con galaxias seleccionadas según condiciones anteriores
    tree = {}
    for key in raw_tree.keys():
        tree[key]=raw_tree[key][mask]
        
    # Ordeno las galaxias según SnapNum creciente
    mask_order = (tree['SnapNum']).argsort()
    for key in tree.keys():
        tree[key] = tree[key][mask_order]

    # Armo un diccionario con solo la main branch del árbol
    main_branch = {}
    # Select galaxies in the main branch 
    mask_main = np.logical_and(tree['GalaxyID']>=myIDs['GalaxyID'],
                               tree['GalaxyID']<=myIDs['TopLeafID']) 

    for key in tree.keys():
        main_branch[key] = tree[key][mask_main]

        
    xplot_main = main_branch['SnapNum']
    
    # Calculo level of merger
    level_merger=[1]       # Inicializo con un 1, porque la primer galaxia del main branch 
                           # no viene de ninguna fusión...
    
    for k in range(np.size(xplot_main)-1):
        m1=main_branch['Stars_Mass'][k]+main_branch['SF_Mass'][k]
        mask=(tree['DescendantID']==main_branch['GalaxyID'][k+1]) & (tree['SnapNum']!=28) 
        # La condición de snapnum distinto a 28 es porque galaxias a z=0 no tienen descendiente,
        # y se les asigna como DescendantID su propio GalaxyID
        m2=np.sum(tree['Stars_Mass'][mask])+np.sum(tree['SF_Mass'][mask])
        level=m2/m1
        level_merger=np.append(level_merger,level)  
        
    #Calculamos las variables que nos interesan:
    
    i=0 

    if ((i<=len(main_branch['SnapNum'])-1)and(main_branch['SnapNum'][i]==1)):
        Lm_1 = level_merger[i]
        i=i+1
    else: Lm_1 = np.nan
    
    if ((i<=len(main_branch['SnapNum'])-1)and(main_branch['SnapNum'][i]==2)):
        Lm_2 = level_merger[i]
        i=i+1
    else: Lm_2 = np.nan
        
    if ((i<=len(main_branch['SnapNum'])-1)and(main_branch['SnapNum'][i]==3)):
        Lm_3 = level_merger[i]
        i=i+1
    else: Lm_3 = np.nan
        
    if ((i<=len(main_branch['SnapNum'])-1)and(main_branch['SnapNum'][i]==4)):
        Lm_4 = level_merger[i]
        i=i+1
    else: Lm_4 = np.nan
        
    if ((i<=len(main_branch['SnapNum'])-1)and(main_branch['SnapNum'][i]==5)):
        Lm_5 = level_merger[i]
        i=i+1
    else: Lm_5 = np.nan
        
    if ((i<=len(main_branch['SnapNum'])-1)and(main_branch['SnapNum'][i]==6)):
        Lm_6 = level_merger[i]
        i=i+1
    else: Lm_6 = np.nan
        
    if ((i<=len(main_branch['SnapNum'])-1)and(main_branch['SnapNum'][i]==7)):
        Lm_7 = level_merger[i]
        i=i+1
    else: Lm_7 = np.nan
        
    if ((i<=len(main_branch['SnapNum'])-1)and(main_branch['SnapNum'][i]==8)):
        Lm_8 = level_merger[i]
        i=i+1
    else: Lm_8 = np.nan
    
    if ((i<=len(main_branch['SnapNum'])-1)and(main_branch['SnapNum'][i]==9)):
        Lm_9 = level_merger[i]
        i=i+1
    else: Lm_9 = np.nan
        
    if ((i<=len(main_branch['SnapNum'])-1)and(main_branch['SnapNum'][i]==10)):
        Lm_10 = level_merger[i]
        i=i+1
    else: Lm_10 = np.nan
        
    if ((i<=len(main_branch['SnapNum'])-1)and(main_branch['SnapNum'][i]==11)):
        Lm_11 = level_merger[i]
        i=i+1
    else: Lm_11 = np.nan
        
    if ((i<=len(main_branch['SnapNum'])-1)and(main_branch['SnapNum'][i]==12)):
        Lm_12 = level_merger[i]
        i=i+1
    else: Lm_12 = np.nan
        
    if ((i<=len(main_branch['SnapNum'])-1)and(main_branch['SnapNum'][i]==13)):
        Lm_13 = level_merger[i]
        i=i+1
    else: Lm_13 = np.nan
        
    if ((i<=len(main_branch['SnapNum'])-1)and(main_branch['SnapNum'][i]==14)):
        Lm_14 = level_merger[i]
        i=i+1
    else: Lm_14 = np.nan
        
    if ((i<=len(main_branch['SnapNum'])-1)and(main_branch['SnapNum'][i]==15)):
        Lm_15 = level_merger[i]
        i=i+1
    else: Lm_15 = np.nan
        
    if ((i<=len(main_branch['SnapNum'])-1)and(main_branch['SnapNum'][i]==16)):
        Lm_16 = level_merger[i]
        i=i+1
    else: Lm_16 = np.nan
        
    if ((i<=len(main_branch['SnapNum'])-1)and(main_branch['SnapNum'][i]==17)):
        Lm_17 = level_merger[i]
        i=i+1
    else: Lm_17 = np.nan
        
    if ((i<=len(main_branch['SnapNum'])-1)and(main_branch['SnapNum'][i]==18)):
        Lm_18 = level_merger[i]
        i=i+1
    else: Lm_18 = np.nan
        
    if ((i<=len(main_branch['SnapNum'])-1)and(main_branch['SnapNum'][i]==19)):
        Lm_19 = level_merger[i]
        i=i+1
    else: Lm_19 = np.nan
        
    if ((i<=len(main_branch['SnapNum'])-1)and(main_branch['SnapNum'][i]==20)):
        Lm_20 = level_merger[i]
        i=i+1
    else: Lm_20 = np.nan
        
    if ((i<=len(main_branch['SnapNum'])-1)and(main_branch['SnapNum'][i]==21)):
        Lm_21 = level_merger[i]
        i=i+1
    else: Lm_21 = np.nan
        
    if ((i<=len(main_branch['SnapNum'])-1)and(main_branch['SnapNum'][i]==22)):
        Lm_22 = level_merger[i]
        i=i+1
    else: Lm_22 = np.nan
        
    if ((i<=len(main_branch['SnapNum'])-1)and(main_branch['SnapNum'][i]==23)):
        Lm_23 = level_merger[i]
        i=i+1
    else: Lm_23 = np.nan
        
    if ((i<=len(main_branch['SnapNum'])-1)and(main_branch['SnapNum'][i]==24)):
        Lm_24 = level_merger[i]
        i=i+1
    else: Lm_24 = np.nan
        
    if ((i<=len(main_branch['SnapNum'])-1)and(main_branch['SnapNum'][i]==25)):
        Lm_25 = level_merger[i]
        i=i+1
    else: Lm_25 = np.nan
        
    if ((i<=len(main_branch['SnapNum'])-1)and(main_branch['SnapNum'][i]==26)):
        Lm_26 = level_merger[i]
        i=i+1
    else: Lm_26 = np.nan
        
    if ((i<=len(main_branch['SnapNum'])-1)and(main_branch['SnapNum'][i]==27)):
        Lm_27 = level_merger[i]
        i=i+1
    else: Lm_27 = np.nan
        
    if ((i<=len(main_branch['SnapNum'])-1)and(main_branch['SnapNum'][i]==28)):
        Lm_28 = level_merger[i]
        i=i+1
    else: Lm_28 = np.nan
   
    
    
    


    data = {'GalaxyID_test':table_a['GalaxyID'].to_numpy()[p],'GroupID_test':table_a['GroupID'].to_numpy()[p],
            'Lm_snap1':Lm_1,'Lm_snap2':Lm_2,'Lm_snap3':Lm_3,'Lm_snap4':Lm_4,
            'Lm_snap5':Lm_5,'Lm_snap6':Lm_6,'Lm_snap7':Lm_7,'Lm_snap8':Lm_8,
            'Lm_snap9':Lm_9,'Lm_snap10':Lm_10,'Lm_snap11':Lm_11,'Lm_snap12':Lm_12,
            'Lm_snap13':Lm_13,'Lm_snap14':Lm_14,'Lm_snap15':Lm_15,'Lm_snap16':Lm_16,
            'Lm_snap17':Lm_17,'Lm_snap18':Lm_18,'Lm_snap19':Lm_19,'Lm_snap20':Lm_20,
            'Lm_snap21':Lm_21,'Lm_snap22':Lm_22,'Lm_snap23':Lm_23,'Lm_snap24':Lm_24,
            'Lm_snap25':Lm_25,'Lm_snap26':Lm_26,'Lm_snap27':Lm_27,'Lm_snap28':Lm_28}

    DATA_merge = DATA_merge.append(data,ignore_index=True)
    
    print('Porcentaje:',round(float((p+1)/long),2),end='\r')

In [45]:
DATA_merge = DATA_merge.astype({'GalaxyID_test':int,'GroupID_test':int,
                                'Lm_snap1':float, 'Lm_snap2':float, 'Lm_snap3':float, 'Lm_snap4':float,
                                'Lm_snap5':float, 'Lm_snap6':float, 'Lm_snap7':float, 'Lm_snap8':float,
                                'Lm_snap9':float, 'Lm_snap10':float,'Lm_snap11':float,'Lm_snap12':float,
                                'Lm_snap13':float,'Lm_snap14':float,'Lm_snap15':float,'Lm_snap16':float,
                                'Lm_snap17':float,'Lm_snap18':float,'Lm_snap19':float,'Lm_snap20':float,
                                'Lm_snap21':float,'Lm_snap22':float,'Lm_snap23':float,'Lm_snap24':float,
                                'Lm_snap25':float,'Lm_snap26':float,'Lm_snap27':float,'Lm_snap28':float})

In [46]:
DATA_merge

,GalaxyID_test,GroupID_test,Lm_snap1,Lm_snap2,Lm_snap3,Lm_snap4,Lm_snap5,Lm_snap6,Lm_snap7,Lm_snap8,Lm_snap9,Lm_snap10,Lm_snap11,Lm_snap12,Lm_snap13,Lm_snap14,Lm_snap15,Lm_snap16,Lm_snap17,Lm_snap18,Lm_snap19,Lm_snap20,Lm_snap21,Lm_snap22,Lm_snap23,Lm_snap24,Lm_snap25,Lm_snap26,Lm_snap27,Lm_snap28
0,14674760,28000000000186,NaN,NaN,NaN,NaN,NaN,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.012765,1.113494,1.000000,1.107394,1.081586,1.000000,1.007746,1.028138,1.001285,1.015826,1.254179,1.008055,1.019933,1.005416,1.001849,1.000000,1.000017
1,15595158,28000000000294,NaN,1.0,1.0,1.000000,1.097416,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.018738,1.049898,1.041218,1.038960,1.345495,1.001490,1.052896,1.188210,1.004449,1.010194,1.007514,1.001240,1.002571,1.007799,1.004222,1.002898,1.002420
2,15350630,28000000000256,NaN,NaN,NaN,NaN,NaN,1.000000,2.002702,1.008509,1.326605,1.217468,1.289135,1.018964,1.078518,1.000872,1.007866,1.030318,1.267752,1.009438,1.002919,1.002730,1.024701,1.001413,1.003095,1.000285,1.002486,1.000345,1.005473,1.001356
3,15207474,28000000000236,NaN,NaN,NaN,NaN,NaN,1.000000,1.032454,1.015471,1.018011,1.029824,1.042923,1.003006,1.004510,1.000347,1.000353,1.000135,1.000669,1.000286,1.560645,1.001637,1.003027,1.181139,1.004558,1.137508,1.003198,1.006695,1.011801,1.006644
4,15611795,28000000000297,NaN,NaN,NaN,NaN,1.000000,1.000000,1.298549,1.223338,1.013275,1.034070,1.007783,1.087309,1.016050,1.024287,1.000676,1.000876,1.026546,1.049775,1.047396,1.066869,1.036278,1.017985,1.020805,1.024698,1.020129,1.005501,1.010948,1.010844
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
157,17277488,28000000000609,NaN,NaN,1.0,1.000000,1.000000,3.858476,1.000000,1.000000,1.008795,1.001783,1.000000,1.006709,1.008039,1.003479,1.030780,3.229641,1.000556,1.013825,1.019308,1.007058,1.051498,1.036829,1.025503,1.021028,1.002770,1.000000,1.000475,1.000069
158,17374402,28000000000644,NaN,1.0,1.0,1.514814,1.000000,1.567088,1.000000,1.032164,1.012696,1.027676,1.000000,1.002609,1.014042,1.002861,1.065915,1.015429,1.060250,1.007307,1.026667,1.010001,1.012609,1.012591,1.006404,1.000000,1.006423,1.129106,1.230396,1.000119
159,17654556,28000000000719,NaN,1.0,1.0,1.000000,1.361760,1.000000,1.957515,1.000000,1.237492,1.049590,1.006274,1.084578,1.015525,1.019961,1.000165,1.000170,1.064591,1.000000,1.000431,1.080811,1.001855,1.000000,1.000000,1.003005,1.005079,1.003512,1.600592,1.000490
160,17715888,28000000000744,NaN,1.0,1.0,1.000000,1.000000,1.106504,1.152030,1.000000,1.006598,1.000000,1.020274,1.025265,1.000734,1.000547,1.019753,1.000459,1.000790,1.039201,1.009102,1.073894,1.000041,1.192559,1.012351,1.003142,1.019183,1.005818,1.002908,1.012332
161,18165555,28000000000914,NaN,NaN,NaN,NaN,NaN,1.000000,1.000000,1.000000,1.000000,1.481597,1.000000,1.051083,1.115389,1.000000,1.043391,1.043286,1.184131,1.015495,1.045738,1.016310,1.017884,1.028747,1.019513,1.004638,1.001590,1.008196,1.013288,1.005617

In [47]:
DATA_merge.to_csv(path_or_buf= path_lin+'/Actividad_8(merger_history_altas_masas).dat',index=False) # Nos guardamos los datos

In [49]:
table_a.to_csv(path_or_buf= path_lin+'/bin_proyecto_altas_masas_106_108.dat',index=False)

* Snapshot 19 = Redshift 1
* Snapshot 28 = Redshift 0

## Pruebas fraction of merger

In [3]:
DATA_merge  = pd.read_csv(path_lin+'/Actividad_8(merger_history_tesis).dat')

In [20]:
mask = (DATA_merge['Lm_snap6'] == 0)
DATA_merge[mask]

,GalaxyID_test,GroupID_test,Lm_snap1,Lm_snap2,Lm_snap3,Lm_snap4,Lm_snap5,Lm_snap6,Lm_snap7,Lm_snap8,...,Lm_snap19,Lm_snap20,Lm_snap21,Lm_snap22,Lm_snap23,Lm_snap24,Lm_snap25,Lm_snap26,Lm_snap27,Lm_snap28
7,2727611,28000000000002,NaN,NaN,1.0,NaN,NaN,0.0,1.891800,1.000000,...,1.018315,1.033089,1.068498,1.000000,NaN,NaN,NaN,0.00000,NaN,NaN
14,4470669,28000000000004,NaN,NaN,1.0,1.0,NaN,0.0,1.000000,1.000000,...,1.023634,1.000000,1.027689,1.029271,1.015195,1.006829,1.000000,1.00000,1.000000,NaN
18,10507082,28000000002364,NaN,NaN,1.0,NaN,NaN,0.0,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.00000,1.000000,1.000000
24,10352660,28000000002189,NaN,NaN,1.0,1.0,NaN,0.0,1.000000,1.000000,...,1.000000,1.474600,1.333145,1.000000,1.000000,1.007035,1.000000,1.00000,1.000000,1.000000
34,21793,28000000000000,NaN,1.0,NaN,NaN,NaN,0.0,2.658798,1.000000,...,1.043703,1.000000,1.004681,1.000000,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3595,8667711,28000000000817,NaN,1.0,NaN,NaN,NaN,0.0,1.000000,1.000000,...,1.047138,1.029600,1.006176,1.000000,1.037501,1.012499,1.000626,1.00000,1.000000,1.000000
3602,18385552,28000000001003,NaN,1.0,NaN,NaN,NaN,0.0,1.000000,1.000000,...,1.000000,1.010950,1.016656,1.026810,1.010499,1.007426,1.011448,1.00701,1.009407,1.017955
3614,2979098,28000000001336,NaN,NaN,NaN,1.0,NaN,0.0,1.000000,1.000000,...,1.000000,1.000000,1.006409,1.000000,1.000000,1.023178,1.007344,1.00000,1.033620,1.016327
3622,9733375,28000000001609,NaN,NaN,1.0,NaN,NaN,0.0,1.000000,1.000000,...,1.042202,1.000000,1.000000,1.000000,1.000000,1.003019,1.000000,1.00000,1.000000,1.022765
3623,9861180,28000000001714,NaN,NaN,1.0,NaN,NaN,0.0,1.250106,1.190671,...,1.019086,1.000000,1.000000,1.000000,1.005158,1.000000,1.000000,1.00000,1.000000,1.000000

In [ ]:
# Fin