## Todos los scrip que use para el proyecto de altas masas

La tabla de merger estÃ¡ calculada pra las galaxias que cumplan las condiciones:
SF_Oxygen > 0
SF_Hydrogen > 0
SubGroupNumber = 0
log10(SF_Mass) >= 7.75
10.6<=log10(Stars_Mass)<= 10.8
Kappaco<=0.56 o Kappaco>=0.3

Falta cambiar la appertura de las magnitudes a 30kpc

In [15]:
import pandas as pd
import numpy as np

In [4]:
table_merger = pd.read_csv('/home/ramiro/Facultad/Tesis/Datos/Proyecto Altas Masas/Merger_history_altas_masas.dat')

In [9]:
table_magni  = pd.read_csv('/home/ramiro/Facultad/Tesis/Datos/Proyecto Altas Masas/bin_proyecto_altas_masas_106_108.dat')

In [10]:
table_merger

,GalaxyID_test,GroupID_test,Lm_snap1,Lm_snap2,Lm_snap3,Lm_snap4,Lm_snap5,Lm_snap6,Lm_snap7,Lm_snap8,...,Lm_snap19,Lm_snap20,Lm_snap21,Lm_snap22,Lm_snap23,Lm_snap24,Lm_snap25,Lm_snap26,Lm_snap27,Lm_snap28
0,14674760,28000000000186,NaN,NaN,NaN,NaN,NaN,1.000000,1.000000,1.000000,...,1.028138,1.001285,1.015826,1.254179,1.008055,1.019933,1.005416,1.001849,1.000000,1.000017
1,15595158,28000000000294,NaN,1.0,1.0,1.000000,1.097416,1.000000,1.000000,1.000000,...,1.188210,1.004449,1.010194,1.007514,1.001240,1.002571,1.007799,1.004222,1.002898,1.002420
2,15350630,28000000000256,NaN,NaN,NaN,NaN,NaN,1.000000,2.002702,1.008509,...,1.002919,1.002730,1.024701,1.001413,1.003095,1.000285,1.002486,1.000345,1.005473,1.001356
3,15207474,28000000000236,NaN,NaN,NaN,NaN,NaN,1.000000,1.032454,1.015471,...,1.560645,1.001637,1.003027,1.181139,1.004558,1.137508,1.003198,1.006695,1.011801,1.006644
4,15611795,28000000000297,NaN,NaN,NaN,NaN,1.000000,1.000000,1.298549,1.223338,...,1.047396,1.066869,1.036278,1.017985,1.020805,1.024698,1.020129,1.005501,1.010948,1.010844
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
157,17277488,28000000000609,NaN,NaN,1.0,1.000000,1.000000,3.858476,1.000000,1.000000,...,1.019308,1.007058,1.051498,1.036829,1.025503,1.021028,1.002770,1.000000,1.000475,1.000069
158,17374402,28000000000644,NaN,1.0,1.0,1.514814,1.000000,1.567088,1.000000,1.032164,...,1.026667,1.010001,1.012609,1.012591,1.006404,1.000000,1.006423,1.129106,1.230396,1.000119
159,17654556,28000000000719,NaN,1.0,1.0,1.000000,1.361760,1.000000,1.957515,1.000000,...,1.000431,1.080811,1.001855,1.000000,1.000000,1.003005,1.005079,1.003512,1.600592,1.000490
160,17715888,28000000000744,NaN,1.0,1.0,1.000000,1.000000,1.106504,1.152030,1.000000,...,1.009102,1.073894,1.000041,1.192559,1.012351,1.003142,1.019183,1.005818,1.002908,1.012332
161,18165555,28000000000914,NaN,NaN,NaN,NaN,NaN,1.000000,1.000000,1.000000,...,1.045738,1.016310,1.017884,1.028747,1.019513,1.004638,1.001590,1.008196,1.013288,1.005617

In [12]:
mask = (table_magni['KappaCoRot']<=0.3)

In [44]:
def porcentaje_merger(lm):
        if x<lm:
            y = 0
        else:
            y=1
            
        return y

In [46]:
table_merger.apply(porcentaje_merger(1.1),axis = 1)

NameError: name 'x' is not defined

In [26]:
table_merger.keys()

Index(['GalaxyID_test', 'GroupID_test', 'Lm_snap1', 'Lm_snap2', 'Lm_snap3',
       'Lm_snap4', 'Lm_snap5', 'Lm_snap6', 'Lm_snap7', 'Lm_snap8', 'Lm_snap9',
       'Lm_snap10', 'Lm_snap11', 'Lm_snap12', 'Lm_snap13', 'Lm_snap14',
       'Lm_snap15', 'Lm_snap16', 'Lm_snap17', 'Lm_snap18', 'Lm_snap19',
       'Lm_snap20', 'Lm_snap21', 'Lm_snap22', 'Lm_snap23', 'Lm_snap24',
       'Lm_snap25', 'Lm_snap26', 'Lm_snap27', 'Lm_snap28'],
      dtype='object')

In [41]:
a = 200
b = 33
if b > a:
    print("b is greater than a")
else:
    print("b is not greater than a")

b is not greater than a