In [1]:
import numpy as np
import pandas as pd

In [2]:
# Historia de merger de las galaxias mayores a 10**10 del snap 28 de la simulación RefL0100N1504
merger = pd.read_csv('/home/ramiro/Facultad/Tesis/Datos/Actividad 7/Actividad_8(merger_history_solo_satar_mass).dat')

In [23]:
# Tamaño de visualización de los DataFrame

pd.options.display.max_rows = 1000
pd.options.display.max_columns = 100

In [17]:
cota_superior_merger=2 # Level of merger mínimo que queremos para la historia de cada galaxia

In [18]:
data = {'GalaxyID_test':[],'GroupID_test':[],
        'Lm_snap1':[],'Lm_snap2':[],'Lm_snap3':[],'Lm_snap4':[],
        'Lm_snap5':[],'Lm_snap6':[],'Lm_snap7':[],'Lm_snap8':[],
        'Lm_snap9':[],'Lm_snap10':[],'Lm_snap11':[],'Lm_snap12':[],
        'Lm_snap13':[],'Lm_snap14':[],'Lm_snap15':[],'Lm_snap16':[],
        'Lm_snap17':[],'Lm_snap18':[],'Lm_snap19':[],'Lm_snap20':[],
        'Lm_snap21':[],'Lm_snap22':[],'Lm_snap23':[],'Lm_snap24':[],
        'Lm_snap25':[],'Lm_snap26':[],'Lm_snap27':[],'Lm_snap28':[]}

DATA_merge = pd.DataFrame(data=data)

for i in np.arange(len(merger)):
    
    j=1
    
    for k in np.arange(1,30):
        if j==29:
            DATA_merge = DATA_merge.append(merger.iloc[i])
        elif merger['Lm_snap'+str(j)].iloc[i]<=cota_superior_merger:
            j=j+1
        elif merger['Lm_snap'+str(j)].isna().iloc[i]:
            j=j+1
        
        else:break
            
        

DATA_merge = DATA_merge.astype({'GalaxyID_test':int,'GroupID_test':int,
                                'Lm_snap1':float, 'Lm_snap2':float, 'Lm_snap3':float, 'Lm_snap4':float,
                                'Lm_snap5':float, 'Lm_snap6':float, 'Lm_snap7':float, 'Lm_snap8':float,
                                'Lm_snap9':float, 'Lm_snap10':float,'Lm_snap11':float,'Lm_snap12':float,
                                'Lm_snap13':float,'Lm_snap14':float,'Lm_snap15':float,'Lm_snap16':float,
                                'Lm_snap17':float,'Lm_snap18':float,'Lm_snap19':float,'Lm_snap20':float,
                                'Lm_snap21':float,'Lm_snap22':float,'Lm_snap23':float,'Lm_snap24':float,
                                'Lm_snap25':float,'Lm_snap26':float,'Lm_snap27':float,'Lm_snap28':float})

In [24]:
DATA_merge

,GalaxyID_test,GroupID_test,Lm_snap1,Lm_snap2,Lm_snap3,Lm_snap4,Lm_snap5,Lm_snap6,Lm_snap7,Lm_snap8,Lm_snap9,Lm_snap10,Lm_snap11,Lm_snap12,Lm_snap13,Lm_snap14,Lm_snap15,Lm_snap16,Lm_snap17,Lm_snap18,Lm_snap19,Lm_snap20,Lm_snap21,Lm_snap22,Lm_snap23,Lm_snap24,Lm_snap25,Lm_snap26,Lm_snap27,Lm_snap28
0,9498012,28000000000002,NaN,1.0,1.000000,1.0000,1.326579,1.324162,1.035217,1.056251,1.028804,1.005793,1.005507,1.034417,1.064962,1.337511,1.003494,1.009208,1.002011,1.004553,1.238362,1.001277,1.001411,1.343438,1.000062,1.000963,1.000000,1.000000,1.000000,1.000006
1,9508202,28000000000002,1.0,1.0,1.000000,1.0000,1.014848,1.000000,1.000000,1.122971,1.021050,1.113887,1.011765,1.004638,1.004930,1.003518,1.001981,1.111446,1.015683,1.002252,1.234754,1.000217,1.000102,1.000091,1.000106,1.000407,1.000046,1.000020,1.000043,1.000027
2,9512113,28000000000002,NaN,1.0,1.000000,1.0000,1.635216,1.388297,1.056919,1.041179,1.052835,1.045753,1.022332,1.519606,1.001439,1.004004,1.001096,1.011577,1.002066,1.001148,1.001418,1.020033,1.003170,1.002646,1.000731,1.567471,1.000176,1.000097,1.000289,1.000071
5,9521792,28000000000002,NaN,NaN,NaN,1.0000,1.837202,1.560290,1.019251,1.017329,1.149200,1.576923,1.007340,1.060119,1.150324,1.001827,1.001837,1.222328,1.000466,1.000132,1.000353,1.000565,1.000200,1.000000,1.000116,1.000000,1.000000,1.009953,1.000000,1.000000
6,2721236,28000000000002,NaN,1.0,1.257743,1.1978,1.039989,1.067848,1.001143,1.022286,1.012490,1.006586,1.011613,1.012698,1.013629,1.001873,1.001141,1.004436,1.003116,1.004923,1.590397,1.000484,1.007804,1.000048,1.001206,1.000598,1.000000,1.000000,1.000000,1.000584
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3631,10234445,28000000002065,NaN,1.0,1.000000,1.0000,1.000000,1.000000,1.187705,1.000000,1.097865,1.000000,1.037390,1.006019,1.006634,1.000000,1.019750,1.001562,1.000000,1.000464,1.000532,1.000330,1.000151,1.000718,1.000664,1.001255,1.000157,1.000347,1.000000,1.000067
3632,10297940,28000000002130,NaN,NaN,NaN,NaN,NaN,1.000000,1.452033,1.000000,1.000000,1.000000,1.000000,1.266941,1.000000,1.056852,1.037655,1.017099,1.015902,1.011254,1.033201,1.000000,1.000000,1.001116,1.000000,1.000000,1.000000,1.000000,1.000000,1.000489
3634,10859653,28000000002570,NaN,NaN,NaN,1.0000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.056767,1.043361,1.190391,1.031348,1.005875,1.000000,1.000000,1.034101,1.000434,1.000832,1.001490,1.002197,1.002288,1.000213,1.001746,1.001038,1.002874,1.000171
3636,11247394,28000000003127,NaN,NaN,NaN,NaN,NaN,1.000000,1.575846,1.075089,1.000000,1.186519,1.024674,1.016153,1.029270,1.054278,1.003439,1.001228,1.012810,1.005037,1.002281,1.000882,1.004009,1.002128,1.004457,1.000835,1.000000,1.003815,1.000514,1.000630
3637,12002343,28000000004258,NaN,1.0,1.000000,1.0000,1.000000,1.000000,1.000000,1.148733,1.000000,1.000000,1.000000,1.104360,1.292007,1.017968,1.003056,1.000000,1.005336,1.001977,1.000292,1.000000,1.000000,1.000000,1.000000,1.263718,1.000000,1.000104,1.000000,1.000000

In [25]:
merger

,GalaxyID_test,GroupID_test,Lm_snap1,Lm_snap2,Lm_snap3,Lm_snap4,Lm_snap5,Lm_snap6,Lm_snap7,Lm_snap8,Lm_snap9,Lm_snap10,Lm_snap11,Lm_snap12,Lm_snap13,Lm_snap14,Lm_snap15,Lm_snap16,Lm_snap17,Lm_snap18,Lm_snap19,Lm_snap20,Lm_snap21,Lm_snap22,Lm_snap23,Lm_snap24,Lm_snap25,Lm_snap26,Lm_snap27,Lm_snap28
0,9498012,28000000000002,NaN,1.0,1.0,1.0,1.326579,1.324162,1.035217,1.056251,1.028804,1.005793,1.005507,1.034417,1.064962,1.337511,1.003494,1.009208,1.002011,1.004553,1.238362,1.001277,1.001411,1.343438,1.000062,1.000963,1.000000,1.000000,1.000000,1.000006
1,9508202,28000000000002,1.0,1.0,1.0,1.0,1.014848,1.000000,1.000000,1.122971,1.021050,1.113887,1.011765,1.004638,1.004930,1.003518,1.001981,1.111446,1.015683,1.002252,1.234754,1.000217,1.000102,1.000091,1.000106,1.000407,1.000046,1.000020,1.000043,1.000027
2,9512113,28000000000002,NaN,1.0,1.0,1.0,1.635216,1.388297,1.056919,1.041179,1.052835,1.045753,1.022332,1.519606,1.001439,1.004004,1.001096,1.011577,1.002066,1.001148,1.001418,1.020033,1.003170,1.002646,1.000731,1.567471,1.000176,1.000097,1.000289,1.000071
3,9517736,28000000000002,NaN,NaN,NaN,NaN,1.000000,2.409535,1.597078,1.000000,1.178546,1.000000,1.500062,1.287915,1.208002,1.005028,1.000000,1.001125,1.001609,1.000590,1.003278,1.000000,1.000579,1.000342,1.000000,1.000000,1.000000,1.000000,1.000000,1.152090
4,9519365,28000000000002,NaN,1.0,1.0,1.0,2.036554,1.184030,1.105157,1.100664,1.000000,1.000000,1.041845,1.043104,1.039098,1.006911,1.000836,1.016977,1.000203,1.000806,1.002485,1.002425,1.001401,1.000877,1.000798,1.000996,1.000504,1.006195,1.000000,1.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3633,10365607,28000000002202,NaN,NaN,NaN,1.0,3.357420,1.000000,1.000000,2.532558,1.000000,1.311864,1.417995,1.039582,1.020005,1.023842,1.005618,1.002236,1.003803,1.000000,1.071442,1.000154,1.000000,1.001024,1.000000,1.000000,1.000000,1.000859,1.000520,1.000437
3634,10859653,28000000002570,NaN,NaN,NaN,1.0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.056767,1.043361,1.190391,1.031348,1.005875,1.000000,1.000000,1.034101,1.000434,1.000832,1.001490,1.002197,1.002288,1.000213,1.001746,1.001038,1.002874,1.000171
3635,11104654,28000000002905,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,2.212125,1.000000,1.091417,1.000000,1.348556,1.078366,1.001639,1.005175,1.000000,1.000000,1.001553,1.000000,1.000000,1.000569,1.000574,1.002320,1.000888,1.000103,1.000000,1.000000
3636,11247394,28000000003127,NaN,NaN,NaN,NaN,NaN,1.000000,1.575846,1.075089,1.000000,1.186519,1.024674,1.016153,1.029270,1.054278,1.003439,1.001228,1.012810,1.005037,1.002281,1.000882,1.004009,1.002128,1.004457,1.000835,1.000000,1.003815,1.000514,1.000630
3637,12002343,28000000004258,NaN,1.0,1.0,1.0,1.000000,1.000000,1.000000,1.148733,1.000000,1.000000,1.000000,1.104360,1.292007,1.017968,1.003056,1.000000,1.005336,1.001977,1.000292,1.000000,1.000000,1.000000,1.000000,1.263718,1.000000,1.000104,1.000000,1.000000

In [7]:
# DATA_merge.to_csv(path_or_buf= 'Max_snap(Lm>'+str(cota_inferior_merger)+').dat',index=False)   # Nos guardamos los datos

In [36]:
# Fin